body{
	background-color: #BBB1B1;
	color: #55A86E;
	/*font-family: 'Lato', sans-serif;*/
	padding: 20px;
	font-family: 'Press Start 2P', cursive;
}
.hide{
	display: none;
}
.gameboy{
	background-color: #BBB1B1;
	height: auto;
	/*border:solid black 10px;*/
}
.gameboy-power{
	width: 10%;
	border-radius: 50%;
	background-color: red;
	box-shadow: 0 0 10px red;
}
.gameboy-screen{
	border-radius: 2em 2em 18% 2em;
	border-right: solid #898282 200px;
	border-left: solid #898282 200px;
	border-top: solid #898282 80px;
	border-bottom: solid #898282 80px;
	background-image: url('http://i.imgur.com/L4pQ65U.jpg');
	background-size: 200% 200%;
	background-position: center;
}

#fight-button{
	background-color: transparent !important;
	border: none !important;
}

.black-text{
	color: black;
}
/*#page-wrapper{
	border:solid 50px;
	border-radius:10px;
	background-color: #ffffff;
	max-width: 50%;
	width: 50%;
	margin: auto;
	overflow: auto;
	height: 50%;

}*/

.page-block{
	border-radius:10px;
	width: 100%;
	margin: auto;
}

.page-split-column{
	width: 50%;
	float: left;
}

#header-block{
	/*background-color: #FF0000;*/
}

.md-padding{
	padding: 10px;
}

.ex-padding{
	padding: 20px;
}


h1, h2{
	padding: 10px;
	text-align: center;
}

ul{
	padding: 10px;
}

p{

	padding: 10px;
}

#fight-button{
	border-radius:10px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	width: 100%;
	font-size:72px;
	padding: 10px;
}

.attack-button{
	border-radius:10px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	width: 100%;
	font-size:32px;
	padding: 10px;
}

#leftPlayerBox{

}

.pokemon-image{
	width: 15vw;
}
.pokeDiv1{
	float:left;
	width:75%;
}
.nameAndPic1{
	float:left;
}
.pokeDiv2{
	float:right;
	width:75%;
}
.nameAndPic2{
	float:right;
}
.attackDiv2{
	float:right;
	margin-top: 30px;
}
.attackDiv1{
	float:left;
	margin-top: 30px;
}
.attkBtn{
	display:block;
	background-color: #55A86E;
}
.red{
	color: red;
}
.blue{
	color: blue;
}
.gary{
	width: 15%;
}




