body{
	background-color: #FF9900; /*FF0000*/
	font-family: 'Lato', sans-serif;
	padding: 20px;
}

#page-wrapper{
	border-radius:10px;
	background-color: #ffffff;
	max-width: 800px;
	width: 100%;
	margin: auto;
	overflow: auto;
}

.page-block{
	border-radius:10px;
	width: 100%;
	margin: auto;
}

.page-split-column{
	width: 50%;
	float: left;
}

#header-block{
	background-color: #FF0000;
}

.md-padding{
	padding: 10px;
}

.ex-padding{
	padding: 20px;
}


h1, h2{
	padding: 10px;
	text-align: center;
}

ul{
	padding: 10px;
}

p{
	font-family: 'Lato', sans-serif;
	padding: 10px;
}

#fight-button{
	border-radius:10px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	width: 100%;
	font-size:72px;
	padding: 10px;
}

.attack-button{
	border-radius:10px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	width: 100%;
	font-size:32px;
	padding: 10px;
}

#leftPlayerBox{

}

.pokemon-image{
	width: 15vw;
}
.pokeDiv1{
	float:left;
	/*width:;*/
	text-align:center;
}
.nameAndPic1{
	float:left;
}
.pokeDiv2{
	float:right;
}
.nameAndPic2{
	float:right;
}
.attackDiv{
	float:right;
	margin-top: 30px;
}